variables:
  privatePool: 'Azure private pool'

trigger:
- master

stages:
- stage: version_tag
  displayName: Add Version Tag
  pool: $(privatePool)
  jobs:
  - job: add_tags
    steps:
    - checkout: self
      persistCredentials: true
      clean: true
    - script: |
        tag=$(node -pe "require('./package.json').version")
        git tag $tag
        git push origin $tag
      displayName: "Add version tag from package.json"
